/* styles.css */

/* Header styles */
header {
    background-color: #D3D3D3; /* Background color for the header */
    color: #34568b; /* Text color for the header */
    padding: 10px 0; /* Add some padding to the header */
    text-align: center; /* Center-align text in the header */
  }
  
  .nav-links a {
    color: #375b95; /* Text color for navigation links */
  }
  
  /* Dropdown alignment */
  .well {
    display: inline-block; /* Display dropdowns side by side */
    margin-right: 1rem; /* Add spacing between dropdowns */
  }
